# importing libraries

In [1]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
docs = ['this is apple','ram is boy','she is dancing','ram is looking at apple','ram is not dancing'
       ]

# term frequency /bag of words

In [3]:
cv = CountVectorizer()
word_count_vector = cv.fit_transform(docs)
tf = pd.DataFrame(word_count_vector.toarray(), columns=cv.get_feature_names())
print(tf)

   apple  at  boy  dancing  is  looking  not  ram  she  this
0      1   0    0        0   1        0    0    0    0     1
1      0   0    1        0   1        0    0    1    0     0
2      0   0    0        1   1        0    0    0    1     0
3      1   1    0        0   1        1    0    1    0     0
4      0   0    0        1   1        0    1    1    0     0

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# tf-idf transformer

In [4]:
tfidf_transformer = TfidfTransformer()
X = tfidf_transformer.fit_transform(word_count_vector)
idf = pd.DataFrame({'feature_name':cv.get_feature_names(), 'idf_weights':tfidf_transformer.idf_})
print(idf)

  feature_name  idf_weights
0        apple     1.693147
1           at     2.098612
2          boy     2.098612
3      dancing     1.693147
4           is     1.000000
5      looking     2.098612
6          not     2.098612
7          ram     1.405465
8          she     2.098612
9         this     2.098612

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# tf-idf matrix

In [5]:
tf_idf = pd.DataFrame(X.toarray() ,columns=cv.get_feature_names())
print(tf_idf)

      apple        at       boy   dancing        is   looking       not  \
0  0.588732  0.000000  0.000000  0.000000  0.347715  0.000000  0.000000
1  0.000000  0.000000  0.772536  0.000000  0.368117  0.000000  0.000000
2  0.000000  0.000000  0.000000  0.588732  0.347715  0.000000  0.000000
3  0.442354  0.548286  0.000000  0.000000  0.261261  0.548286  0.000000
4  0.000000  0.000000  0.000000  0.528947  0.312405  0.000000  0.655616

        ram       she      this
0  0.000000  0.000000  0.729718
1  0.517376  0.000000  0.000000
2  0.000000  0.729718  0.000000
3  0.367193  0.000000  0.000000
4  0.439074  0.000000  0.000000

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

# tf-idf matrix (direct function)

In [6]:
tfidf_vect = TfidfVectorizer()
X = tfidf_vect.fit_transform(docs)
X=X.todense()

ans= pd.DataFrame(X, columns=tfidf_vect.get_feature_names())
ans

C:\Users\DELL\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,apple,at,boy,dancing,is,looking,not,ram,she,this
0,0.588732,0.000000,0.000000,0.000000,0.347715,0.000000,0.000000,0.000000,0.000000,0.729718
1,0.000000,0.000000,0.772536,0.000000,0.368117,0.000000,0.000000,0.517376,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.588732,0.347715,0.000000,0.000000,0.000000,0.729718,0.000000
3,0.442354,0.548286,0.000000,0.000000,0.261261,0.548286,0.000000,0.367193,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.528947,0.312405,0.000000,0.655616,0.439074,0.000000,0.000000

In [7]:
X

matrix([[0.58873218, 0.        , 0.        , 0.        , 0.34771471,
         0.        , 0.        , 0.        , 0.        , 0.72971837],
        [0.        , 0.        , 0.77253573, 0.        , 0.36811741,
         0.        , 0.        , 0.51737618, 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.58873218, 0.34771471,
         0.        , 0.        , 0.        , 0.72971837, 0.        ],
        [0.44235361, 0.5482859 , 0.        , 0.        , 0.26126117,
         0.5482859 , 0.        , 0.36719346, 0.        , 0.        ],
        [0.        , 0.        , 0.        , 0.52894702, 0.31240463,
         0.        , 0.65561619, 0.43907381, 0.        , 0.        ]])

In [8]:
df

NameError: name 'df' is not defined