#  1] Importing Libraries

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline

# 2] Loading dataset into pandas dataframe

In [2]:
df=pd.read_csv('student_perform.csv')
extras=df['raisedhands']
df.head()

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    480 non-null    object
 1   NationalITy               480 non-null    object
 2   PlaceofBirth              480 non-null    object
 3   StageID                   480 non-null    object
 4   GradeID                   480 non-null    object
 5   SectionID                 480 non-null    object
 6   Topic                     480 non-null    object
 7   Semester                  480 non-null    object
 8   Relation                  480 non-null    object
 9   raisedhands               480 non-null    int64
 10  VisITedResources          480 non-null    int64
 11  AnnouncementsView         480 non-null    int64
 12  Discussion                480 non-null    int64
 13  ParentAnsweringSurvey     480 non-null    object
 14  ParentschoolSatisfaction  480 non-null    object
 15  StudentAbsenceDays        480 non-null    object
 16  Class                     480 non-null    object
dtypes: int64(4), object(13)
memory usage: 63.9+ KB

In [4]:
df= df.iloc[: , :6]

In [5]:
df.shape

(480, 6)

In [6]:
df['raisedhands']=extras

In [12]:
# delete some values manually to learn cleaning the data
df= df.iloc[:100 , ]
df.to_csv('data-w2.csv',index=False)

In [13]:
df.head()

  gender NationalITy PlaceofBirth     StageID GradeID SectionID  raisedhands
0      M          KW       KuwaIT  lowerlevel    G-04         A           15
1      M          KW       KuwaIT  lowerlevel    G-04         A           20
2      M          KW       KuwaIT  lowerlevel    G-04         A           10
3      M          KW       KuwaIT  lowerlevel    G-04         A           30
4      M          KW       KuwaIT  lowerlevel    G-04         A           40

In [96]:
data=pd.read_csv('data-w2.csv')

In [97]:
data

   gender NationalITy PlaceofBirth     StageID GradeID SectionID  raisedhands
0       M          KW       KuwaIT  lowerlevel    G-04         A         15.0
1       M          KW       KuwaIT  lowerlevel    G-04         A         20.0
2       M          KW       KuwaIT  lowerlevel    G-04         A         10.0
3       M          KW       KuwaIT  lowerlevel    G-04         A         30.0
4       M          KW       KuwaIT  lowerlevel    G-04         A         40.0
..    ...         ...          ...         ...     ...       ...          ...
95      F          KW       KuwaIT  lowerlevel    G-02         B        100.0
96      F          KW       KuwaIT  lowerlevel    G-02         C         14.0
97      F          KW       KuwaIT  lowerlevel    G-02         B          6.0
98      F          KW       KuwaIT  lowerlevel    G-02         C          NaN
99      M          KW       KuwaIT  lowerlevel    G-02         B         50.0

[100 rows x 7 columns]

In [98]:
x_=data.columns

In [99]:
data.isnull().sum()

gender          0
NationalITy     0
PlaceofBirth    0
StageID         0
GradeID         2
SectionID       2
raisedhands     7
dtype: int64

In [100]:
for col in x_:
    if(df[col].dtypes=='object'):
        print(col, data[col].unique(),"\n--------------------------")

gender ['M' 'F']
--------------------------
NationalITy ['KW' 'lebanon' 'Egypt' 'SaudiArabia' 'USA' 'Jordan' 'venzuela' 'Iran']
--------------------------
PlaceofBirth ['KuwaIT' 'lebanon' 'Egypt' 'SaudiArabia' 'USA' 'Jordan' 'venzuela' 'Iran']
--------------------------
StageID ['lowerlevel' 'MiddleSchool' 'HighSchool']
--------------------------
GradeID ['G-04' 'G-07' 'G-08' 'G-06' 'G-05' 'G-09' 'G-12' 'G-11' 'G-10' nan 'G-02']
--------------------------
SectionID ['A' 'B' nan 'C']
--------------------------

# Turn categorical variables into quantitative variables in Python

In [101]:
data['gender'].replace(['M', 'F'],
                        [0, 1], inplace=True)

# handling incositent data

# 1 delete rows where value==null in gradeid cool

In [103]:
data['GradeID'].isnull().sum()

2

In [104]:
data = data[data['GradeID'].notna()]

In [105]:
data.shape

(98, 7)

In [106]:
data.isnull().sum()

gender          0
NationalITy     0
PlaceofBirth    0
StageID         0
GradeID         0
SectionID       2
raisedhands     7
dtype: int64

# 2 we can fill na with mode in sectiod id

In [108]:
data.SectionID.unique()

array(['A', 'B', nan, 'C'], dtype=object)

In [109]:
data.SectionID.mode()

0    A
dtype: object

In [110]:

data['SectionID'].replace(np.NaN,'A')

0     A
1     A
2     A
3     A
4     A
     ..
95    B
96    C
97    B
98    C
99    B
Name: SectionID, Length: 98, dtype: object

In [111]:
data.isnull().sum()

gender          0
NationalITy     0
PlaceofBirth    0
StageID         0
GradeID         0
SectionID       2
raisedhands     7
dtype: int64

# 3 using interpolation for raisedhands attribute


Pandas dataframe.interpolate() function is basically used to fill NA values in the dataframe or series. But, this is a very powerful function to fill the missing values. It uses various interpolation technique to fill the missing values rather than hard-coding the value.

Syntax: DataFrame.interpolate(method=’linear’, axis=0, limit=None, inplace=False, limit_direction=’forward’, limit_area=None, downcast=None, **kwargs)

Parameters :
method : {‘linear’, ‘time’, ‘index’, ‘values’, ‘nearest’, ‘zero’, ‘slinear’, ‘quadratic’, ‘cubic’, ‘barycentric’, ‘krogh’, ‘polynomial’, ‘spline’, ‘piecewise_polynomial’, ‘from_derivatives’, ‘pchip’, ‘akima’}

axis : 0 fill column-by-column and 1 fill row-by-row.
limit : Maximum number of consecutive NaNs to fill. Must be greater than 0.
limit_direction : {‘forward’, ‘backward’, ‘both’}, default ‘forward’
limit_area : None (default) no fill restriction. inside Only fill NaNs surrounded by valid values (interpolate). outside Only fill NaNs outside valid values (extrapolate). If limit is specified, consecutive NaNs will be filled in this direction.
inplace : Update the NDFrame in place if possible.
downcast : Downcast dtypes if possible.
kwargs : keyword arguments to pass on to the interpolating function.

Returns : Series or DataFrame of same shape interpolated at the NaNs

In [113]:
data.raisedhands

0      15.0
1      20.0
2      10.0
3      30.0
4      40.0
      ...
95    100.0
96     14.0
97      6.0
98      NaN
99     50.0
Name: raisedhands, Length: 98, dtype: float64

In [95]:
data.isnull().sum()

gender          0
NationalITy     0
PlaceofBirth    0
StageID         0
GradeID         0
SectionID       0
raisedhands     7
dtype: int64

In [115]:
data['raisedhands'].interpolate(method ='linear', limit_direction ='forward',axis=0)

0      15.0
1      20.0
2      10.0
3      30.0
4      40.0
      ...
95    100.0
96     14.0
97      6.0
98     28.0
99     50.0
Name: raisedhands, Length: 98, dtype: float64

In [116]:
df.raisedhands.isnull().sum()

0

In [ ]:
pd